<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a routerLink="/posts" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img alt="img.JordanLogo" style="width: 40px; height: 40px; border-radius: 50%;" src="https://cdn.worldvectorlogo.com/logos/michael-jordan.svg">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/posts" class="nav-link px-2 link-secondary">Список кроссовок</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a  class="nav-link px-2 link-secondary" routerLink="/login">Войти</a>
        <a  class="nav-link px-2 link-secondary" routerLink="/register">Зарегистрироваться</a>
      </div>
    </header>
  </div>